
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display:flex; */
}
.head{
    color: #ff99c8;
    font-size: 50px;  
    text-align: center;
    background-color: #e4c1f9;
    font-family: 'Courier New', Courier, monospace;
}
.content{
    padding: 0px;
    color: black;
    font-size: 21px;  
    text-align: left;
    background-color: #fcf6bd;
    font-family: 'Times New Roman', sans-serif;
    padding: 20px;
}
body{
    background-color: #d0f4de;
}


.box{
    width: 600px;
    height: 300px;
    background-color: #a9def9;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
}


#box1{
    height: 150px;
    width: 150px;
    background-color: #ff99c8;
    margin: 30px 0px 0px 30px;
    border: 1px solid black;
    border-radius: 15px 0 15px 0
}

#box1 #submit-btn{
    width: 100px;
    height: 30px;
    background-color: #ff99c8;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    /* cursor: pointer; */
    text-align: center;
    line-height: 30px;
}

#box1 #submit-btn:hover{
    background-color: #ff99c8;
    color: white;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

#box1 #submit-btn:active{
    background-color:black;
    color: white;
}

#box1 #submit-btn:visited{
    background-color: #ff99c8;
    color: black;
}
#box1 #submit-para{
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 10px 10px 20px 10px;
    font-family: 'Times New Roman', sans-serif;
}

#box2{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    position: relative ;
    left:30%;
    bottom: 61%;
    height: 150px;
    width: 150px;
    background-color: #D0F4DE;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
}
#box2 #form-btn{
    width: 100px;
    height: 30px;
    background-color: #D0F4DE;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    /* cursor: pointer; */
    text-align: center;
    line-height: 30px;
}

#box2 #form-btn:hover{
    background-color: #D0F4DE;
    color: white;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

#box2 #form-btn:active{
    background-color:black;
    color: white;
}

#box2 #form-btn:visited{
    background-color: #D0F4DE;
    color: black;
}
#box2 #form-para{
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 10px 10px 20px 10px;
    font-family: 'Times New Roman', sans-serif;
}
#box3{
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    position: relative;
    left:60%;
    bottom: 121%;
    height: 150px;
    width: 150px;
    background-color: #fcf6bd;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
}
#box3 #svg-btn{
    width: 100px;
    height: 30px;
    background-color: #fcf6bd;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    /* cursor: pointer; */
    text-align: center;
    line-height: 30px;
}

#box3 #svg-btn:hover{
    background-color: #fcf6bd;
    color: white;
    border: 1px solid black;
    border-radius: 15px 0 15px 0;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

#box3 #svg-btn:active{
    background-color:black;
    color: white;
}

#box3 #svg-btn:visited{
    background-color: #fcf6bd;
    color: black;
}
#box3 #svg-para{
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 10px 10px 20px 10px;
    font-family: 'Times New Roman', sans-serif;
}